body {
    background-image: url("fondo-azul-lineas-azules_591496-90.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
